body {
  background-image: url('../images/background.jpg');
  background-size: 100%;
  margin: 0;
  padding: 0;
}
.container {
  padding-top: 50px;
  padding-bottom: 100px;
}
h1 {
  color: antiquewhite;
  padding-right: 15%;
}
.list-group {
  border: 2px solid green;
}
.list-group-item {
  padding: 1px 20px;
  border: none;
  background-color: transparent;
}

img {
  height: 100px;
}
p {
  color: azure;
  font-size: 20px;
  margin: 0;
}
